html
    head
        title=mainTtitle
        link(rel="shortcut icon", type='image/x-icon', href="/images/favicon.ico")
        link(rel="stylesheet",  href="/css/styles.css")
    body(class="bg")
        nav
            each navOption in navOptions
                a(href=navOption.path)=navOption.name
        h1= title
        div(class='createPost')
            form(action="/updateUser", method="post")
                div(class=["input"])
                    label(for="username") Username: 
                    input#id(type="text", placeholder="Put your username here", name="name")
                    span(class="errorText")
                div(class=["input"])
                    label(for="email") Email: 
                    input#id(type="text", placeholder="E@mail.com", name="email")
                    span(class="errorText")
                div(class=["input"])
                    label(for="age") Age: 
                    input#id(type="month", placeholder="leave you 12.9 year old", name="age")
                    span(class="errorText")
                div(class=["input"])
                    label(for="image") Avatar image: 
                    input#id(type="url", name="image", placeholder="Place an image url here") 
                    span(class="errorText")
                div(class=["input"])
                    input(id='admon', type='checkbox', name='admon')
                    | Check if Admin Account
                div(class=["input"])
                    label(for="password") Passsword: 
                    input#id(type="password", name="password", placeholder="Password goes here") 
                    span(class="errorText")
                div(class=["input"])
                    label(for="re-pass") Re-enter your password: 
                    input#id(type="password", name="rePassword", placeholder="Re-enter password") 
                    span(class="errorText")
                div(class=["input"])
                    input(type="submit", value="Update User")

        h2= 'Delete the post of your choice'
        div(class='createPost')
            h4(class='hrg')= 'If our post stuff was working, you would see the posts a user made here!'
        script(src="/js/scripts.js")