html
    head
        title= title
        link(rel="stylesheet",  href="/css/styles.css")
        script(src="/js/scripts.js")
    body
        h1= Whalecome
        div(class="background")
        p= 'Do you want to login or create an account?'
        a(href="login.pug")       
            div(class="")= Login
        a(href="")
            div(class="")= Create Account

          

    footer
        