html
    head
        title=mainTitle
        link(rel="shortcut icon", type='image/x-icon', href="/images/favicon.ico")
        link(rel="stylesheet",  href="/css/styles.css")
    body(class="bg")
        h1= Whalecome
        nav
            each navOption in navOptions
                a(href=navOption.path)=navOption.name
           
        div(class='para')
            p(class='l')= 'Do you want to login or create an account?'
        div(class="signIn")
            p(class='p')= 'Log In'
            form(action="login", name='inlog')
                div(class=["input"])
                    label(for="username") Username: 
                    input#id(type="text", placeholder="Put your username here", name="name", size="30")
                    span(class="errorText")
                div(class=["input"])
                    label(for="password") Passsword: 
                    input#id(type="password", name="password", placeholder="Password goes here") 
                    span(class="errorText")
                div(class=["input"])
                    a(type="button", href='/privateHome', class='nb')='Login'
        hr        
        div(class="createAcc")  
            p(class="p")='Create An Account'     
            form(action="createAccount", name='create')
                div(class=["input"])
                    label(for="username") Username: 
                    input#id(type="text", placeholder="Put your username here", name="name")
                    span(class="errorText")
                div(class=["input"])
                    label(for="email") Email: 
                    input#id(type="text", placeholder="E@mail.com", name="email")
                    span(class="errorText")
                div(class=["input"])
                    label(for="age") Age: 
                    input#id(type="month", placeholder="leave you 12.9 year old", name="age")
                    span(class="errorText")
                div(class=["input"])
                    label(for="password") Avatar image: 
                    input#id(type="url", name="image", placeholder="Place an image url here") 
                    span(class="errorText")
                div(class=["input"])
                    input(id='admon', type='checkbox')
                    | Check if Admin Account
                //-     //- label(for="role") Are you an admin?: 
                //-     input(type="checkbox", name="role")='Check if Admin Accounq'
                div(class=["input"])
                    label(for="password") Passsword: 
                    input#id(type="password", name="password", placeholder="Password goes here") 
                    span(class="errorText")
                div(class=["input"])
                    label(for="re-pass") Re-enter your password: 
                    input#id(type="password", name="rePassword", placeholder="Re-enter password") 
                    span(class="errorText")
                div(class=["input"])
                    a(action='/login', method = 'post', type='button', href="/privateHome", class='nb')='Create Account'
        script(src="/js/scripts.js")
    footer
        h6= 'Copyright @ Puggos&trade'
        